{% extends "base.html" %}
{% block title %}İletişim - DATASAGE{% endblock %}
{% block content %}

<h2 class="mb-3">📫 İletişim</h2>
<p>Her türlü soru, görüş ve öneriniz için bizimle iletişime geçebilirsiniz.</p>

<ul class="list-group list-group-flush mb-4">
  <li class="list-group-item bg-body text-body"><strong>Proje Email:</strong> info@datasage.com</li>
  <li class="list-group-item bg-body text-body"><strong>GitHub:</strong> 
    <a href="https://github.com/AleksDulda/DataSage" target="_blank">Proje GitHub Sayfası</a>
  </li>
</ul>

<h4 class="mt-5 mb-3">📨 Mesaj Gönderin</h4>

{% if success %}
<div class="alert alert-success" role="alert">
  ✅ Mesajınız başarıyla gönderildi!
</div>
{% elif error %}
<div class="alert alert-danger" role="alert">
  ❌ Mesaj gönderilirken bir hata oluştu. Lütfen tekrar deneyin.
</div>
{% endif %}


<form method="post" action="{{ url_for('contact') }}">
  <div class="mb-3">
    <label for="name" class="form-label">Adınız</label>
    <input type="text" name="name" class="form-control" id="name" placeholder="Adınızı giriniz" required>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email adresiniz</label>
    <input type="email" name="email" class="form-control" id="email" placeholder="Email adresinizi giriniz" required>
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">Mesajınız</label>
    <textarea name="message" class="form-control" id="message" rows="4" placeholder="Mesajınızı yazınız" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Gönder</button>
</form>

{% endblock %}
